@use "sass:color";

@import "./utils/colors";
@import "./utils/mixins";

@import "./base/base";

@import "./components/header";
@import "./components/btn";
@import "./components/footer";

@import "./pages/home/home";
@import "./pages/menu/menu";