* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* font-family: 'Shrikhand', cursive; */
body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.btn {
  border: none;
  box-shadow: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
.btn--gradient {
  padding: 20px;
  border-radius: 30px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.place {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  color: #353535;
  padding: 15px 0px;
}
.place_text {
  margin-left: 10px;
  font-weight: 500;
}

.presentation {
  background: #F6F6F6;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.presentation_title {
  padding: 0px 20px 20px 20px;
}
.presentation_descr {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.steps {
  padding: 50px 20px;
}
.steps_title {
  margin-bottom: 35px;
}
.steps_card {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background: #F6F6F6;
  border-radius: 20px;
  margin: 0px 0px 25px 12.5px;
  position: relative;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
.steps_card:last-of-type {
  margin-bottom: 0px;
}
.steps_card_number {
  position: absolute;
  background: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -12.5px;
}
.steps_card_caption {
  display: flex;
  align-items: center;
  margin: 25px 35px;
}
.steps_card_caption_icon {
  margin-right: 20px;
  color: #7E7E7E;
  transition: all 0.4s ease;
}
.steps_card:hover {
  background: #F5EDFF;
}
.steps_card:hover .steps_card_caption_icon {
  color: #9356DC;
}

.restaurants {
  background: #F6F6F6;
  padding: 60px 20px;
}
.restaurants_title {
  margin-bottom: 25px;
}
.restaurants_card {
  background: white;
  border-radius: 15px;
  margin-bottom: 15px;
}
.restaurants_card:last-of-type {
  margin-bottom: 0;
}
.restaurants_card_img {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}
.restaurants_card_img.paletteDuGout {
  background-image: url("../img/paletteDuGout.jpg");
  background-position-y: 95%;
}
.restaurants_card_img.noteEnchantee {
  background-image: url("../img/noteEnchantee.jpg");
  background-position-y: 62%;
}
.restaurants_card_img.aLaFrancaise {
  background-image: url("../img/aLaFrancaise.jpg");
  background-position-y: 100%;
}
.restaurants_card_img.deliceDesSens {
  background-image: url("../img/deliceDesSens.jpg");
  background-position-y: 100%;
}
.restaurants_card_flag {
  background: #99E2D0;
  margin: 15px;
  padding: 10px;
  width: fit-content;
  color: #237c66;
}
.restaurants_card_caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}
.restaurants_card_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.restaurants_card_city {
  font-size: 17px;
  font-weight: 300;
}
.restaurants_card_heart {
  font-size: 25px;
  margin-right: 10px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
