* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  position: relative;
}
.header_arrow {
  position: absolute;
  left: 25px;
  color: black;
  text-decoration: none;
}

.btn {
  border: none;
  box-shadow: none;
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.btn--gradient {
  padding: 20px;
  border-radius: 30px;
  background-color: #9356DC;
  box-shadow: 0 35px 50px -10px #FF79DA inset, 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s ease;
}
.btn--gradient:hover {
  background-color: #a36fe1;
  box-shadow: 0 35px 50px -10px #ff8de0 inset, 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.footer {
  background: #353535;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer_title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}
.footer_line {
  margin-bottom: 8px;
}
.footer_line:last-child {
  margin-bottom: 0;
}
.footer_link {
  color: white;
  text-decoration: none;
}
.footer_icon {
  width: 15px;
  margin-right: 10px;
}

@media (min-width: 1000px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
  }
  .footer_title {
    margin: 0;
    font-size: 25px;
  }
  .footer_line {
    margin: 0;
  }
}
.loader {
  position: absolute;
  z-index: 10;
  background: #99E2D0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  animation: loader 1s ease;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.loader_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: loader_text 0.5s ease;
  animation-delay: 3.8s;
  animation-fill-mode: forwards;
}
.loader_letter1 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  animation: loader_letter 1s ease;
  animation-delay: calc(1s / 10);
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}
.loader_letter2 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  animation: loader_letter 1s ease;
  animation-delay: calc(2s / 10);
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}
.loader_letter3 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  animation: loader_letter 1s ease;
  animation-delay: calc(3s / 10);
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}
.loader_letter4 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  animation: loader_letter 1s ease;
  animation-delay: calc(4s / 10);
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}
.loader_letter5 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  animation: loader_letter 1s ease;
  animation-delay: calc(5s / 10);
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}
.loader_letter6 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  animation: loader_letter 1s ease;
  animation-delay: calc(6s / 10);
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}
.loader_letter7 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  animation: loader_letter 1s ease;
  animation-delay: calc(7s / 10);
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}
.loader_letter8 {
  font-family: "Shrikhand", cursive;
  font-size: 50px;
  animation: loader_letter 1s ease;
  animation-delay: calc(8s / 10);
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
}

@keyframes loader {
  from {
    opacity: 1;
    display: flex;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes loader_text {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes loader_letter {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-20px);
  }
  60%, 100% {
    transform: translateY(0px);
  }
}
.place {
  background: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  color: #353535;
  padding: 15px 0px;
}
.place_text {
  margin-left: 10px;
  font-weight: 500;
}

.presentation {
  background: #F6F6F6;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.presentation_title {
  padding: 0px 20px 20px 20px;
}
.presentation_descr {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.steps {
  padding: 50px 20px;
}
.steps_title {
  margin-bottom: 35px;
}
.steps_deckOfCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.steps_card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  background: #F6F6F6;
  border-radius: 20px;
  margin: 0px 0px 25px 12.5px;
  position: relative;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
.steps_card:last-of-type {
  margin-bottom: 0px;
}
.steps_card_number {
  position: absolute;
  background: #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -12.5px;
}
.steps_card_caption {
  display: flex;
  align-items: center;
  margin: 25px 35px;
}
.steps_card_caption_icon {
  margin-right: 20px;
  color: #7E7E7E;
  transition: all 0.4s ease;
}
.steps_card:hover {
  background: #F5EDFF;
}
.steps_card:hover .steps_card_caption_icon {
  color: #9356DC;
}

@media (max-width: 330px) {
  .steps_card_caption {
    margin: 25px;
  }
}
@media (min-width: 550px) {
  .steps {
    padding: 40px;
  }
  .steps_card {
    width: 30%;
    margin: 0px 0px 0px 12.5px;
    justify-content: center;
  }
  .steps_card_caption {
    margin: 20px 20px 20px 30px;
  }
}
@media (min-width: 700px) {
  .steps_card_caption_icon {
    font-size: 25px;
  }
}
.restaurants {
  background: #F6F6F6;
  padding: 60px 20px;
}
.restaurants_title {
  margin-bottom: 25px;
}
.restaurants_deckOfCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurants_card {
  width: 100%;
  color: black;
  text-decoration: none;
}
.restaurants_card:last-of-type {
  margin-bottom: 0;
}
.restaurants_card_img {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
}
.restaurants_card_img.paletteDuGout {
  background-image: url("../img/paletteDuGout.jpg");
  background-position-y: 95%;
}
.restaurants_card_img.noteEnchantee {
  background-image: url("../img/noteEnchantee.jpg");
  background-position-y: 62%;
}
.restaurants_card_img.aLaFrancaise {
  background-image: url("../img/aLaFrancaise.jpg");
  background-position-y: 100%;
}
.restaurants_card_img.deliceDesSens {
  background-image: url("../img/deliceDesSens.jpg");
  background-position-y: 100%;
}
.restaurants_card_flag {
  background: #99E2D0;
  margin: 15px;
  padding: 10px;
  width: fit-content;
  color: #237c66;
  text-decoration: none;
}
.restaurants_card_caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
  padding: 20px 15px;
  background: white;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 15px;
}
.restaurants_card_title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}
.restaurants_card_city {
  font-size: 17px;
  font-weight: 300;
  color: black;
  text-decoration: none;
}
.restaurants_card_heart {
  font-size: 25px;
  margin-right: 10px;
  color: black;
  text-decoration: none;
}
.restaurants_card:hover .restaurants_card_caption {
  background: #F5EDFF;
}

@media (min-width: 550px) {
  .restaurants {
    padding: 40px 40px 0px 40px;
  }
  .restaurants_card {
    width: 47%;
    margin-bottom: 40px;
  }
}
@media (min-width: 1100px) {
  .restaurants_card {
    width: 22%;
  }
}
h2 {
  font-size: 24px;
  font-weight: 700;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url("../img/aLaFrancaise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  height: 300px;
  width: 100%;
}
.banner_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  background: #F6F6F6;
  padding: 30px 20px;
}
.banner_title_text {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: normal;
}
.banner_title_heart {
  margin-right: 20px;
}
.banner_title_heart:hover {
  animation: banner_title_heart 0.8s ease;
  animation-fill-mode: forwards;
}

@keyframes banner_title_heart {
  from {
    fill: #F6F6F6;
  }
  to {
    fill: #FF79DA;
  }
}
@media (min-width: 550px) {
  .banner {
    height: 500px;
  }
  .banner_title {
    padding: 50px;
  }
}
@media (min-width: 1100px) {
  .banner {
    background-position-y: 90%;
  }
}
.menu {
  background: #F6F6F6;
  padding: 15px;
}
.menu .submenu {
  margin-bottom: 45px;
}
.menu .submenu_heading {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 5px;
}
.menu .submenu_heading_underline {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin: 5px 0px 0px 5px;
}
.menu .submenu_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.08);
  margin-top: 15px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}
.menu .submenu_card_caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  margin: 15px 25px 15px 15px;
}
.menu .submenu_card_title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: submenu_card_txt_back 0.8s ease;
  animation-fill-mode: forwards;
}
.menu .submenu_card_descr {
  font-size: 15px;
  font-weight: 300;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: submenu_card_txt_back 0.8s ease;
  animation-fill-mode: forwards;
}
.menu .submenu_card_price {
  font-size: 15px;
  font-weight: 700;
}
.menu .submenu_card_btn {
  align-self: stretch;
  padding: 0px;
  padding: 15px;
  border-radius: 0px 15px 15px 0px;
  background: #99E2D0;
  width: 0px;
  animation: submenu_card_btn_back 0.5s ease;
  animation-fill-mode: forwards;
}
.menu .submenu_card_btn_icon {
  font-size: 22px;
}
.menu .submenu_card:hover {
  cursor: pointer;
}
.menu .submenu_card:hover .submenu_card_title {
  animation: submenu_card_txt 0.8s ease;
  animation-fill-mode: forwards;
}
.menu .submenu_card:hover .submenu_card_descr {
  animation: submenu_card_txt 0.8s ease;
  animation-fill-mode: forwards;
}
.menu .submenu_card:hover .submenu_card_btn {
  animation: submenu_card_btn 0.8s ease;
  animation-fill-mode: forwards;
}
.menu .submenu_card:hover .submenu_card_btn_icon {
  animation: submenu_card_btn_icon 0.8s ease;
  animation-fill-mode: forwards;
}

.menu_item1 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item1 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(1s / 5);
}

@keyframes menu_item1 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item2 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item2 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(2s / 5);
}

@keyframes menu_item2 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item3 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item3 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(3s / 5);
}

@keyframes menu_item3 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item4 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item4 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(4s / 5);
}

@keyframes menu_item4 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item5 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item5 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(5s / 5);
}

@keyframes menu_item5 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item6 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item6 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(6s / 5);
}

@keyframes menu_item6 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item7 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item7 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(7s / 5);
}

@keyframes menu_item7 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item8 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item8 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(8s / 5);
}

@keyframes menu_item8 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item9 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item9 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(9s / 5);
}

@keyframes menu_item9 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item10 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item10 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(10s / 5);
}

@keyframes menu_item10 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item11 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item11 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(11s / 5);
}

@keyframes menu_item11 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu_item12 {
  opacity: 0;
  transform: translateY(20px);
  animation: menu_item12 0.8s ease;
  animation-fill-mode: forwards;
  animation-delay: calc(12s / 5);
}

@keyframes menu_item12 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes submenu_card_txt {
  from {
    width: 250px;
  }
  to {
    width: 200px;
  }
}
@keyframes submenu_card_txt_back {
  from {
    width: 200px;
  }
  to {
    width: 250px;
  }
}
@keyframes submenu_card_txt--large {
  from {
    width: 300px;
  }
  to {
    width: 250px;
  }
}
@keyframes submenu_card_txt_back--large {
  from {
    width: 250px;
  }
  to {
    width: 300px;
  }
}
@keyframes submenu_card_btn {
  from {
    padding: 0px;
    width: 0px;
  }
  to {
    padding: 15px;
    width: 60px;
  }
}
@keyframes submenu_card_btn_icon {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes submenu_card_btn_back {
  from {
    padding: 15px;
    width: 60px;
  }
  to {
    padding: 0px;
    width: 0px;
  }
}
@media (max-width: 350px) {
  .submenu_card_title, .submenu_card_descr {
    width: 200px !important;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px 50px;
  }
  .menu .submenu {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .menu .submenu_card {
    align-self: stretch;
  }
}
@media (min-width: 1500px) {
  .submenu_card_title, .submenu_card .submenu_card_descr {
    width: 300px !important;
    animation: submenu_card_txt_back--large 0.8s ease !important;
    animation-fill-mode: forwards;
  }
  .submenu_card:hover .submenu_card_title {
    animation: submenu_card_txt--large 0.8s ease !important;
    animation-fill-mode: forwards;
  }
  .submenu_card:hover .submenu_card_descr {
    animation: submenu_card_txt--large 0.8s ease !important;
    animation-fill-mode: forwards;
  }
}
.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 80px 0px;
  background: #F6F6F6;
}
.order_btn {
  padding: 20px 50px;
}

/*# sourceMappingURL=style.css.map */
