.presentation {
    background: $grey--light;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &_title {
        padding: 0px 20px 20px 20px;
    }

    &_descr {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
    }
}