.btn {
    border: none;
    box-shadow: none;
    color: white;
    font-family: 'Roboto', sans-serif;

    &--gradient {
        padding: 20px;
        border-radius: 30px;
        background: linear-gradient(0deg, $colorPrimary 0%, $colorSecondary 100%);
        font-size: 16px;
        font-weight: 500;
        box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.20);
    }
}
