.btn {
    border: none;
    box-shadow: none;
    color: white;
    font-family: 'Roboto', sans-serif;

    &--gradient {
        padding: 20px;
        border-radius: 30px;
        background-color: $colorPrimary;
        box-shadow: 0 35px 50px -10px $colorSecondary inset, 0px 10px 10px -5px rgba(0,0,0,0.20);
        font-size: 16px;
        font-weight: 500;
        @include transition;

        &:hover {
            background-color: color.scale($colorPrimary, $lightness: 15%);
            box-shadow: 0 35px 50px -10px color.scale($colorSecondary, $lightness: 15%) inset, 0px 10px 10px -5px rgba(0,0,0,0.30);
        }
    }
}
