.footer {
    background: $grey--dark;
    color: white;
    padding: 25px;
    @include flex(column, center, start);

    &_title {
        @include shrikhand(18px);
        @include resetLink(white);
        margin-bottom: 20px;
    }

    &_line {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &_link {
        @include resetLink(white);
    }

    &_icon {
        width: 15px;
        margin-right: 10px;
    }
}

@media (min-width: 1000px) {
    .footer {
        @include flex(row, space-between, center);
        padding: 40px;

        &_title {
            margin: 0;
            font-size: 25px;
        }

        &_line {
            margin: 0;
        }
    }
}