.like {
    position: relative;

    &_heart {
        position: absolute;
        top: 0;
        right: 0;
        @include transition(0.5s);

        &--regular {
            opacity: 1;
        }
    
        &--hover {
            opacity: 0;
        }
    }

    &:hover .like_heart--regular {
        opacity: 0;
    }

    &:hover .like_heart--hover {
        opacity: 1;
    }
}