.place {
    background: $greyMedium;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 10px 10px -5px rgba(0,0,0,0.10);
    color: $greyDark;
    padding: 15px 0px;

    &_text {
        margin-left: 10px;
        font-weight: 500;
    }
}