.banner {
    @include flex(column, end, center);
    background-size: cover;
    background-repeat: no-repeat;
    height: 310px;
    width: 100%;

    &--aLaFrancaise {
        background-image: url("../img/aLaFrancaise.jpg");
        background-position-y: 100%;
    }

    &--deliceDesSens {
        background-image: url("../img/deliceDesSens.jpg");
        background-position-y: 100%;
    }

    &--paletteDuGout {
        background-image: url("../img/paletteDuGout.jpg");
        background-position-y: 100%;
    }

    &--noteEnchantee {
        background-image: url("../img/noteEnchantee.jpg");
        background-position-y: 65%;
    }

    &_title {
        @include flex(row, space-between, center);
        width: 100%;
        border-radius: 40px 40px 0px 0px;
        background: $grey--light;
        padding: 30px 20px;

        &_text {
            @include shrikhand(28px);
            font-weight: normal;
        }

        &_heart {
            margin-right: 20px;
        }
    }
}

// Media queries

@media (min-width: 550px) {
    .banner {
        height: 500px;
        &_title {
            padding: 50px;
        }
    }
}

@media (min-width: 1100px) {
    .banner--aLaFrancaise, .banner--deliceDesSens {
        background-position-y: 90%;
    }

    .banner--paletteDuGout {
        background-position-y: 80%;
    }
}