.banner {
    @include flex(column, end, center);
    background-image: url("../img/aLaFrancaise.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    height: 300px;
    width: 100%;

    &_title {
        @include flex(row, space-between, center);
        width: 100%;
        border-radius: 40px 40px 0px 0px;
        background: $grey--light;
        padding: 30px 20px;

        &_text {
            @include shrikhand(28px);
            font-weight: normal;
        }

        &_heart {
            margin-right: 20px;

            &:hover {
                animation: banner_title_heart 0.8s ease;
                animation-fill-mode: forwards;
            }
        }
    }
}

// Animations

@keyframes banner_title_heart {
    from {
        fill: $grey--light;
    }

    to {
        fill: $colorSecondary;
    }
}

// Media queries

@media (min-width: 550px) {
    .banner {
        height: 500px;
        &_title {
            padding: 50px;
        }
    }
}

@media (min-width: 1100px) {
    .banner {
        background-position-y: 90%;
    }
}