.menu {
    background: $grey--light;
    padding: 15px;

    .submenu {
        margin-bottom: 45px;
        
        &_heading {
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
            margin-left: 5px;
            
            &_underline {
                width: 40px;
                height: 3px;
                background: $colorTertiary; 
                margin: 5px 0px 0px 5px;
            }
        }
    
        &_card {
            @include flex(row, space-between, end);
            @include verticalDropShadow(0.08);
            margin-top: 15px;
            background: white;
            border-radius: 15px;
            overflow: hidden;
    
            &_caption {
                @include flex(row, space-between, end);
                width: 100%;
                margin: 15px 25px 15px 15px;
            }
            
            &_title {
                margin-bottom: 5px;
                font-size: 18px;
                font-weight: 700;
                width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                animation: submenu_card_txt_back 0.8s ease;
                animation-fill-mode: forwards;
            }
    
            &_descr {
                font-size: 15px;
                font-weight: 300;
                width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                animation: submenu_card_txt_back 0.8s ease;
                animation-fill-mode: forwards;
            }
    
            &_price {
                font-size: 15px;
                font-weight: 700;
            }
    
            &_btn {
                align-self: stretch;
                padding: 0px;
                padding: 15px;
                border-radius: 0px 15px 15px 0px;
                background: $colorTertiary;
                width: 0px;
                animation: submenu_card_btn_back 0.5s ease;
                animation-fill-mode: forwards;
    
                &_icon {
                    font-size: 22px;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &:hover .submenu_card_title {
                animation: submenu_card_txt 0.8s ease;
                animation-fill-mode: forwards;
            }

            &:hover .submenu_card_descr {
                animation: submenu_card_txt 0.8s ease;
                animation-fill-mode: forwards;
            }
    
            &:hover .submenu_card_btn {
                animation: submenu_card_btn 0.8s ease;
                animation-fill-mode: forwards;
    
                &_icon {
                    animation: submenu_card_btn_icon 0.8s ease;
                    animation-fill-mode: forwards;
                }
            }
        }
    }
}

// Animations

@for $i from 1 through 12 {
    .menu_item#{$i} {
        opacity: 0;
        transform: translateY(20px);
        animation: menu_item#{$i} 0.8s ease;
        animation-fill-mode: forwards;
        animation-delay: calc(#{$i}s / 5);
    }

    @keyframes menu_item#{$i} {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@keyframes submenu_card_txt {
    from {
        width: 250px;
    }

    to {
        width: 200px;
    }
}

@keyframes submenu_card_txt_back {
    from {
        width: 200px;
    }

    to {
        width: 250px;
    }
}

@keyframes submenu_card_txt--large {
    from {
        width: 300px;
    }

    to {
        width: 250px;
    }
}

@keyframes submenu_card_txt_back--large {
    from {
        width: 250px;
    }

    to {
        width: 300px;
    }
}

@keyframes submenu_card_btn {
    from {
        padding: 0px;
        width: 0px;
    }

    to {
        padding: 15px;
        width: 60px;
    }
}

@keyframes submenu_card_btn_icon {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes submenu_card_btn_back {
    from {
        padding: 15px;
        width: 60px;
    }

    to {
        padding: 0px;
        width: 0px;
    }
}

// Media queries

@media(max-width: 350px) {
    .submenu_card_title, .submenu_card_descr {
        width: 200px!important;
    }
}

@media(min-width: 1200px) {
    .menu {
        @include flex(row, space-between, stretch);
        padding: 15px 50px;

        .submenu {
            width: 30%;
            @include flex(column, space-between, start);

            &_card {
                align-self: stretch;
            }
        }
    }
}

@media(min-width: 1500px) {
    .submenu_card {
        &_title, .submenu_card_descr {
            width: 300px!important;
            animation: submenu_card_txt_back--large 0.8s ease!important;
            animation-fill-mode: forwards;
        }
    
        &:hover .submenu_card_title {
            animation: submenu_card_txt--large 0.8s ease!important;
            animation-fill-mode: forwards;
        }
    
        &:hover .submenu_card_descr {
            animation: submenu_card_txt--large 0.8s ease!important;
            animation-fill-mode: forwards;
        }
    } 
}