@mixin transition($duration: 0.4s) {
    transition: all $duration ease;
}

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin resetLink($color: black) {
    color: $color;
    text-decoration: none;
}

@mixin shrikhand($size) {
    font-family: 'Shrikhand', cursive;
    font-size: $size;
}